*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --newWhite:#EDEDED;
    --light:'RobotoLight';
    --medium:'RobotoMedium';
    --semiBold:'RobotoSemiBold';
    --bold:'RobotoBold';
}
@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoMedium';
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'RobotoSemiBold';
    src: url(fonts/Roboto-SemiBold.ttf);
}
@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-Bold.ttf);
}
.universal-title{
    font-size: clamp(0.8rem, 8vw, 3rem);;
    font-family: "RobotoBold";
}





body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30000px;
    overflow-x: hidden;
    background-color: #FBFBFB;
}
.nav-bar-container{
    z-index: 999;
    position: fixed;
    height: 61px;
    width: min(80vw,540px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "RobotoSemiBold";
    background-color: rgba(255, 255, 255, 0.89);
    border: 0.5px solid #cacaca;
    border-radius: 43px;
    padding: 4px;
    gap: 4px;
    margin-top: 40px;
    box-shadow: 0px 4px 8px 0px hsla(0, 0%, 46%, 0.250);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation-name: navBarAnimationUp;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}
.navbar-curtain{
    z-index: 999;
    background-color: white;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-name: hideCurtain;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: none;
}
.showCurtain{
    animation-name: showCurtain;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes showCurtain{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hideCurtain{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes navBarAnimationUp{
    0%{height:2px;}
    100%{height: 61px;}
}
@keyframes navBarAnimationDown{
    0%{height: 61px;}
    100%{height: 2px;}
}
.scrolled{
    animation-name: navBarAnimationDown;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.nav-country{
    font-size: clamp(0.8rem, 2.5vw ,1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100%;
    color: black;
    border-radius: 30px;
    z-index: 990;
}
.idle{
    color: #5e5e5e;
    transition: all 0.1s;
    cursor: pointer;
}
.idle:hover{
    color: #363636;
}
.active{
    background-color: #EDEDED;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: min(170vw,850px);
    background-color: black;
}
.header-country{
    font-size: clamp(0.8rem, 8vw, 2.7rem);;
    background:linear-gradient(to right, #FF6820 0%, white 50%, #046a38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "RobotoBold";
}
.header-container h1{
    color:var(--newWhite);
    font-size: clamp(2rem, 14vw, 5.8rem);
    font-family: "RobotoBold";
    letter-spacing: -1%;
}
.video-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.video-container video{
    width: 100%;
    transform: scale(1.4);
}
.video-fade{
    position: absolute;
    background:linear-gradient(black 0%,#73737300 100%);
    height: min(10vw,300px);
    width: 100%;
    z-index: 800;
}
.play-button{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    z-index: 999;
    position: absolute;
    height: clamp(16px, 9vw ,50px);
    width: clamp(16px, 9vw ,50px);
    background-color: hsla(0, 0%, 73%, 0.75);
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.1s;
}
.play-button:hover{
    background-color: rgb(201, 201, 201);
}
.hidden{
    display: none;
}








.slider-container{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 200px;
    gap: 40px;
}
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height:clamp(400px, 90vw ,600px);
    width: 7180px;
}
.carousel-inner-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
}
.carousel-inner-container div{
    border-radius: 20px;
    width: 1000px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.carousel-inner-container div img{
    border-radius: 20px;
}
.carousel-inner-container{
    object-fit: cover;
}
.one{
    transform: translateX(-90px);
    width: 1100px;
}
.three{
    transform: translateY(-40px);
    width: 1150px;
}
.four{
    transform: translate(-100px,0px);
    width: 1200px;
}
.five{
    transform: translateY(0px);
    width: 1080px;
}
.six{
    width: 1200px;
}
.seven{
    transform: translate(-50px,0px);
    width: 1200px;
}
.carousel-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    align-self: flex-end;
    margin-right: 100px;
}
.carousel-buttons div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(16px, 9vw ,50px);
    width: clamp(16px, 9vw ,50px);
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    transition: all 0.1s;
}
.carousel-buttons div:hover{
    background-color: rgb(206, 206, 206);
}


.separate-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 880px;
}

.sticky-container{
    display: flex;
    width: 100%;
    height: 7200px;
    margin-top: 120px;
}
.informational-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 380px;
    height: 1000px;
    position: sticky;
    top: 0;
}
.informations-inner-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    height: 800px;
    gap: 120px;
}
.information-slider{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 400px;
    padding: 100px 0px 100px 0px;
}
.information-group{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 500px;
    flex-direction: column;
    gap: 40px;
}
.information-title{
    font-size: 2.5rem;
    font-family: 'RobotoSemiBold';
}
.information-text{
    font-size: 1.4rem;
    font-family: 'RobotoSemiBold';
    color: #6E6E6E;
    line-height: 1.7;
}
.information-text strong{
    color: black;
}


.information-illustrations{
    height: 800px;
    width: 500px;
    position: relative;
}
.jail{
    position: absolute;
    height: 800px;
    width: 500px;
    border-radius: 20px;
}
.information-illustrations img{
    height: 750px;
    width: 500px;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0px 5px 6px 6px hsla(0, 0%, 73%, 0.432);
    border: 1px solid white;
}
.info6 img{
    object-position: right;
}
.opacity{
    opacity: 0;
}
.info4{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 0px 60px 0px;
}
.column{
    color: white;
    border: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 8px 6.6px -2px hsla(117, 87%, 32%, 0.25);
    padding: 40px;
}
.money{
    font-family: 'RobotoLight';
}
.years{
    font-family: 'RobotoBold';
}
.big{
    background:linear-gradient(#8DD67D 0%, #21AF01 100%);
    height: 100%;
}
.small{
    background:linear-gradient(#21AF01 0%, #008000 100%);
    height: 35%;
}
.info7{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-table{
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
}
.info-table th, .info-table td{
    height: 90px;
    width: 200px;
    text-align: center;
    font-family: 'RobotoSemiBold';
    font-size:1.75rem;
}
.info-table td{
    color: #4b4b4b;
    border: 1px solid #BABABA;
}
.info-table th{
    color: white;
    background:linear-gradient(to top,#0B0B0B 0%, #4A4A4A 100%);
}
.info-table tr:first-child th:first-child{
    border-radius: 20px 0px 0px 0px;
}
.info-table tr:first-child th:last-child{
    border-radius: 0px 20px 0px 0px;
}
.info-table tr:last-child td:first-child{
    border-radius: 0px 0px 0px 20px;
}
.info-table tr:last-child td:last-child{
    border-radius: 0px 0px 20px 0px;
}
.info-table tr:nth-child(even){
    background-color: rgb(236, 236, 236);
}
.info-table tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}

.info1,.info2,.info3,.info4,.info5,.info6,.info7{
    opacity: 0;
}

.showImage{
    animation-name: showImage;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
}
@keyframes showImage{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.sitcky-creators{
    position: relative;
    height: 3000px;
    background-color: black;
    z-index: 0;
}
.creators-container{
    display: flex;
    top: 0;
    width: 100%;
    position: sticky;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 180px 20px 180px 20px;
    gap: 120px;
    height: 2200px;
    z-index: 500;
}
.fade-title{
    font-size: 90px;
    font-family: var(--bold);
    background:linear-gradient(#202020 0%, #ececec 80%);
    background-clip: text;
    color: transparent;
}
.container-of-double{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.person{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    height: 650px;
    width: 100%;
    border: 1px solid rgb(77, 77, 77);
}
.show-hide-info-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 460px;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.show-hide-info-container svg{
    cursor: pointer;
}
.show-info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.person-name-birthday{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.person-name{
    color: #EDEDED;
    font-family: var(--bold);
    font-size: 26px;
}
.person-birthday{
    color: #B4B4B4;
    font-family: var(--light);
    font-size: 18px;
}
.person-info{
    color: #B4B4B4;
    font-family: var(--medium);
    font-size: 18px;
    list-style: 1.7;
}
.hide-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    transform: translateY(300px);
    padding: 20px 30px;
    gap: 10px;
    height: 250px;
    border-radius: 10px;
    background: linear-gradient(#494949 0%, #111111 100%);
}
.hide-info svg{
    align-self: flex-end;
}
.hidden-info{
    color: #B4B4B4;
    font-family: var(--medium);
    font-size: 17px; 
}
.hidden-info span{
    color: white;
}
.creator-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    filter: saturate(0) contrast(110%) brightness(80%);
}

.showInformationAnimation{
    animation-name:showInfo;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}
.hideInformationAnimation{
    animation-name:hideInfo;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes showInfo{
    0%{transform:translateY(300px);}
    100%{transform:translateY(0px);}
}
@keyframes hideInfo{
    0%{transform:translateY(0px);}
    100%{transform:translateY(300px);}
}
.OTY{
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.OTY h1{
    color: white;
}
.OTY-FIFTHER{
    display: flex;
    width: 100%;
    height: calc(100vh*5);
}
.auxiliar-container{
    padding: 20px 0px 20px 20px;
    height: 100vh;
    width: 100%;
    top: 0;
    position: sticky;
    background-color: black;
}
.OTY-IMAGES-CONTAINER{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
    width: fit-content;
}
.OTY-IMAGES-CONTAINER img{
    border-radius: 20px;
    width: 1600px;
    height: 100%;
    object-fit: cover;
}

.outser-split-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px 50px 0px;
    background-color: black;
}
.split-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 850px;
    border:2px solid blue;
}
.image-holder{
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 50%;
    border: 2px solid red;
    position: absolute;
}
.RIGHT{
    left: 0;
}
.LEFT{
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}



@media (max-width:500px) {
    .nav-bar-container{
        height: 40px;
    }
    @keyframes navBarAnimationUp{
        0%{height:2px;}
        100%{height: 40px;}
    }
    @keyframes navBarAnimationDown{
        0%{height: 40px;}
        100%{height: 2px;}
    }
    .play-button{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    #play{
        scale: 0.6;
    }
    #pause{
        scale: 0.8;
    }


    .slider-container{
        padding-left: 20px;
        gap: 40px;
    }
    .left svg,.right svg{
        scale: 0.8;
    }
    .carousel-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        align-self: flex-end;
        margin-right: 0px;
        margin-left: 20px;
        align-self: flex-start;
    }
}